{% extends "layouts/page.html" %}

{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}

{% block extra_head %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ settings.pages.SiteDecorations.site_name }}" href="{% routablepageurl page "feed" %}" />
{% endblock %}

{% block body_class %}page--news-index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <h2>{{ newsitem.title }}</h2>
                <p class="news-item--date">
                    Published on {{ newsitem.date }} - <a href="{{ newsitem.url }}">Permalink</a>
                </p>
                {% include_block newsitem.body %}
            </div>
            <div class="col-md-3 col-lg-3">
                <h3>News directory</h3>
                <a href="{% routablepageurl page "feed" %}">RSS feed</a>
            </div>
        </div>
    </div>
{% endblock %}

